work/FIU/CSTR_Agent/ctr_config/CTR_Moudle_Check.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ctr="http://www.kofiu.co.kr/ctr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTR_Moudle_Check" targetNamespace="http://www.kofiu.co.kr/ctr/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.kofiu.co.kr/ctr/">
      <xsd:element name="processModuleCheck">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="operation" type="xsd:string" />
          	<xsd:element name="moduleinfo" type="ctr:moduleinfo"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processModuleCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="heartbeat" type="ctr:heartbeat"
          		minOccurs="0" />
          	<xsd:element name="update_data" type="ctr:update_data"></xsd:element>
          	<xsd:element name="version_check" type="ctr:version_check"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="heartbeat">
      	<xsd:sequence>
      		<xsd:element name="check" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    

      <xsd:complexType name="version_check">
      	<xsd:sequence>
      		<xsd:element name="RPT_MDL_VER" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="update_data">
      	<xsd:sequence>
      		<xsd:element name="RPT_MDL_VER" type="xsd:string"></xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_MDL_LIB "
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_MDL_LIB_NM"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_MDL_LIB_SIZE"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_CONFIG"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_CONFIG_NM"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_CONFIG_SIZE"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_PBL_KEY"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_PBL_KEY_NM"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_BLOB_PBL_KEY_SIZE"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="RPT_MDL_RMRK" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="moduleinfo">
      	<xsd:sequence>
      		<xsd:element name="moduleVersion" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="ctr:processModuleCheck" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="ctr:processModuleCheckResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CTR_Moudle_Check">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="ctr:NewOperationRequest"/>
      <wsdl:output message="ctr:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CTR_Moudle_CheckSOAP" type="ctr:CTR_Moudle_Check">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.kofiu.co.kr/ctr/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTR_Moudle_Check">
    <wsdl:port binding="ctr:CTR_Moudle_CheckSOAP" name="CTR_Moudle_CheckSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
